/* https://colorhunt.co/palette/17153b2e236c433d8bc8acd6 */

#root {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1;
    background-color: #0e1113;
}

.HeaderContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px 0px;
    background-color: #0e1113;
    border-bottom: 2px solid #202122;
}

.Options {
    display: flex;
    gap: 10px;
    align-items: center;
}

.FooterContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0e1113;
    height: 30vh;
    border-top: 2px solid #202122;
}

.FooterContainer p {
    margin: 0px;
}

main {
    display: flex;
    justify-content: center;
    margin: 0px 250px 0px;
    padding: 0px 50px 0px;
    flex: 1;
    background-color: #121212;
    border-left: 2px solid #202122; 
    border-right: 2px solid #202122; 
}